@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');


* {
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

body {
    background: rgb(121, 120, 124);
    background: linear-gradient(90deg, rgb(99, 99, 104) 0%, rgba(79, 73, 73, 1) 30%, rgba(59, 68, 70, 1) 77%, rgba(97, 88, 88, 1) 91%);
    margin-left: auto;
    margin-right: auto;
}

div.container-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.container-todo>img {
    width: 500px;
    margin-bottom: 36px;
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav>ul {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
}

nav>h2 {
    margin-bottom: 36px;
    font-size: 40px;
    margin-top: 30px;
}

nav>ul>li>a {
    height: max-content;
    width: max-content;
}

nav>ul>li>a>img {
    width: 150px;
    border-radius: 24px;

}

div.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    padding: 24px;
}

img.img-container {
    width: 200px;
    border-radius: 24px;
}

nav>ul>li>a {
    width: 150px;
    border-radius: 100%;
    padding: 24px;
}

div.container-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

h1.titulo-container {
    font-size: 50px;

}

a,
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav.menu>ul>li:nth-child(1):hover:after {
    display: block;
    margin-top: 24px;
    text-align: center;
    content: 'THOMAS';
}

nav.menu>ul>li:nth-child(2):hover:after {
    display: block;
    margin-top: 24px;
    text-align: center;
    content: 'ARTHUR';
}

nav.menu>ul>li:nth-child(3):hover:after {
    display: block;
    margin-top: 24px;
    text-align: center;
    content: 'POLLY';
}

nav.menu>ul>li>a>img {
    transition: 200ms;
}

nav.menu>ul>li>a>img:hover {
    transform: scale(110%);

}

nav.mini-menu>ul>li>a{
    font-size: 30px;
    padding: 12px;
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
    
}

nav.mini-menu{
display: flex;
position: fixed;
bottom: 120px;
right: 50%;
left: 50%;
}
nav.mini-menu>ul>li:hover{
    transform: scale(110%);
}

nav.mini-menu>ul>li{
    transition: 200ms;
}
/*-------------------------------------------------*/
    /*modificar tamaños de fuentes
    tamaños de container
    arreglar margin,paddingss
    ocultar contenido  que no se necesario*/
@media(max-width:768px){
    .menu>ul{
        flex-wrap: wrap;
    }
    .nav>ul{
        flex-direction:column;
    }

    div.container-todo>img{
        width: 260px;

    }
    nav>h2{
        margin-bottom: 36px;
        font-size: 30px;
        margin-top: 30px;
    }
    div.container>div.container-texto{
        flex-direction: column;
    }
    nav.mini-menu{
    bottom: 24px;
    }

    
}
